@charset 'UTF-8';

.header-footer-component-container {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
}

.header-container {
}

.wc-container {
	flex: 1 0 auto;
}

.footer-container {
	background-color: #292d39;
	height: 25px;
	width: 100%;
	flex-shrink: 0;
	position: relative;
	text-align: center;
}

.footer-text {
	font-style: italic;
	font-weight: 100;
	font-size: .7rem;
	color: lightgrey;
	padding-top: 5px;
}

/* --- */

/* .navbar-main {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	width: 100%;
} */


/* --- */

.navbar-icon {
	height: 50px;
}

/* --- */

/* .navlink-container {
	display: flex;
	flex: auto;
}


.navlink-text {
	font-family: 'Nanum Brush Script', cursive;
	font-size: 1rem;
	color: #dfdfdf;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	transition: 75ms ease-in;
}

.navlink:hover .navlink-text {
	transform: scale(1.3) translateY(-50%);
	transition: 75ms ease-in;
	color: white;
} */

.navlink-container {
	width: 100%;
	background: #2f3036;
	position: fixed;
	z-index: 1;
	height: 70px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14);
	box-sizing: border-box;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	/* top: 0;
	left: 0; */
}
.main-title{
	flex-basis: 35%;
	border-right: 2px solid grey;
}
.navlink {
	flex-basis: 25%;
}
.navlink a {
	display: flex;
	height: 70px;
	justify-content: center;
	text-decoration: none;
	justify-content: center;
    align-items: center;
	border-right: 2px solid grey;
	cursor: pointer;
	transition: all 0.5s ease;
}
.navlink:hover{
	/* background: #a3ada5; */
	background: #1e212a;
}

.navlink .active{
	flex-basis: 100%;
	background: #1e212a;
}

/* --- LogOutButton.js --- */

.logout-button {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-basis: 10%;
	font-size:16px;
	color:White;
	text-indent:30px;
	cursor: pointer;
	text-align:left;
	/* Animations: */
	-webkit-transition-timing-function: ease-in-out;
	-webkit-transition-duration: .4s;
	-webkit-transition-property: all;
	
	-moz-transition-timing-function: ease-in-out;
	-moz-transition-duration: .4s;
	-moz-transition-property: all;
}

.logout {
	/* background:url('https://dh3vbjnk0bnfa.cloudfront.net/static/centralauth/images/btn-login-hover.png') no-repeat 5px 5px #1e212a; */
	background: #1e212a;
	width: 70%;
	cursor:pointer;
	border-radius: 6px;
	border: none;
	display:block;
	margin:0 auto;
	cursor: pointer;
}

.logout-button:hover {
	background-position: 65px 5px;
	text-indent: 15px;
	background: red;
}

.logout-button img {
    height: 24px;
    padding-right: 3px;
}