/* CSS class definitions for the Log-In Page */

.logInSenseiBox {
	min-height: 80vh;
}

.bg-purple {
	background-color: #9867d6;
}

.bg-blue {
	background-color: #6a6ad6;
}


.logInSenseiText {
	/*text-align: center;
	vertical-align: middle;
	flex: auto;*/
	min-height: 80vh;
}

.getSenseid {
	background-color: #6a6ad6;
	text-align: center;
	flex: auto;
}