/* --- Search Bar --- */

.search-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content:center;
}

.search-bar {
	padding: 3px;
	font-size: 16px;
	position: relative;
	width: 65%;
	padding: 1%;
	margin-top: 1%;
	margin-bottom: 1%;
}

.search-clear-button {
	font-size: 1rem;
	position: relative;
	left: 15px;
	padding: 1%;
}

/* --- Project Row Container --- */

.project-row {
	display: flex;
	align-items: center;
	margin-left: 2.5%;
	margin-right: 2.5%;
	margin-bottom: 7px;
	padding: 1.5%;
	width: 95%;
	background-color: white;
	font: roboto;
	font-size: 16px;
	-webkit-box-shadow: 0 6px 23px 0px rgba(0,0,0, .16);
	-moz-box-shadow: 0 6px 23px 0px rgba(0,0,0, .16);
	box-shadow: 0 6px 23px 0px rgba(0,0,0, .16);
}

.project-row-name {
	font-size: 1rem;
	flex: auto;
}


.project-row-schedule-button {
	font-size: 1rem;
}

/* --- */

.switch {
	font-size:16px;
	position:relative;
	left:5px;
	min-width:60px;
}

.schedule-modal {
	display: flex;
	flex-direction: column;
	text-align: center;
}

/* KYLE's OLD STUFF */

/*.cell {
	-webkit-animation: fadein 0.9s;
	animation: fadein 1s;
}

@keyframes fadein {
	from { opacity: 0; }
	to	 { opacity: 1; }
}

@-webkit-keyframes fadein {
	from { opacity: 0; }
	to	 { opacity: 1; }
}

*/
