
.no-data-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-bottom: 30px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.no-data-icon {
	align-self: center;
	padding: 20px;
}

.no-data-text {
	text-align: center;
	color: rgba(130, 130, 130, 0.7);
	font-weight: bold;
	font-size: 1rem;
}

/* --- Avatar.js --- */

.avatar-image {
	max-width: 100%;
	max-height: 50vw;
	border-radius: 10px 50px;
}

/* --- Modal.js --- */

.modal-background {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.4);
	overflow: scroll;
	z-index: 1;
}

.modal-window {
	position: fixed;
	left: 50%;
	top: 20%;
	transform: translate(-50%, -50%);
	background-color: #fafafa;
	margin: 0 auto;
	padding: 20px;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    z-index: 2;
}

.modal-header {
	text-align: right;
}

.modal-close-button {
	font-size: 2rem;
}

.modal-body {

}

.modal-error-window {
	position: fixed;
	font-family: 'Roboto Condensed', sans-serif;
	bottom: 5%;
	right: 5%;
	background-color: #F32F07;
	margin: 0 auto;
	padding: 20px;
    z-index: 2;
    color: white;
}